# Banco de Dados
DATABASE_URL="postgresql://user:password@localhost:5432/gral_db?schema=public"

# Autenticação (JWT)
JWT_SECRET="super-secret-key-change-me"
JWT_EXPIRATION="1d"

# Configuração da Aplicação
PORT=3000
API_VERSION="v1"

# AWS S3 (Mídias)
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="sua_access_key"
AWS_SECRET_ACCESS_KEY="sua_secret_key"
AWS_S3_BUCKET="gral-midias"
