# .env.example

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL (Prisma)
# Exemplo local: postgresql://usuario:senha@localhost:5432/gral_db?schema=public
DATABASE_URL="postgresql://usuario:senha@localhost:5432/gral_db?schema=public"

# Configurações de Segurança e JWT
JWT_SECRET="sua_chave_secreta_super_segura_aqui"
JWT_EXPIRATION="7d"

# Configurações da AWS S3 (Futuro: Módulo de Mídias e Documentos)
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="sua_access_key"
AWS_SECRET_ACCESS_KEY="sua_secret_key"
AWS_S3_BUCKET_NAME="gral-bucket-midias"
